<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
        <h2>Edit Product Data</h2>
        <form method="post" action="/updateproduct" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="productName">Product Name:</label>
                <input type="text" name="pname" class="form-control" id="productName" required>
                <input type="hidden" name="pid" value="{{ date.id }}>
            </div>
            <div class="form-group">
                <label for="productPrice">Product Price:</label>
                <input type="number" name="pprice" class="form-control" id="productPrice" required>
            </div>
            <div class="form-group">
                <label for="productDescription">Product Description:</label>
                <textarea class="form-control" name="pdesc" id="productDescription" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="productImage">Product Image:</label>
                <input type="file" name="pimage" class="form-control-file" id="productImage" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>